.profileForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.9);
    padding-bottom: 30px;
    margin-bottom: 20px;
    .factoryInput__lable{
        color: #04aaff;
        cursor: pointer;
        margin-top: 15px;
        span{
            margin-right: 10px;
            font-size: 11px;
        }
    }
    .profileForm__newPhotoURL{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            width: 80px;
            height: 80px;
            border-radius: 40px;
        }
        .profileForm__clear{
            color: #04aaff;
            cursor: pointer;
            text-align: center;
            span{
                margin-right: 10px;
                font-size: 12px;
            }
        }
    }
    
}